extend layout

block content
  h3 Página personal del #{title}

  p Nombre: Ignacio Penas Fernández
  p DNI: 05443288-Q
  br
  p EMAIL: i.penas@alumnos.upm.es
  br
  br
  img(src= "/images/author.png")
