label(for = "preg", class = "rem") Pregunta:
input(type="text", id="preg", name="quiz[pregunta]", value = "#{quiz.pregunta}")
br

label(for = "resp", class = "rem") Respuesta:
input(type="text", id="resp", name="quiz[respuesta]", value = "#{quiz.respuesta}")
br
<<<<<<< HEAD
<<<<<<< HEAD

label(for = "image", class = "rem") Imagen:
input(type="file", accept="image/*", id="image", name="image")
br

=======
>>>>>>> master
=======
label(for = "image", class = "rem") Imagen:
input(type="file", accept="image/*, id="image", name="image")
br
>>>>>>> parent of b7fc31e... Revert "Quiz 23 mal"
a(href="/quizes")
  button(type = "button") Cancelar
input(type = "submit" value = "Salvar")
