extend ../layout

block content
      h3 #{pregunta}
      form(method ="get", action="/quizes/answer")
        input(type="text", name="respuesta", value="Responda aquí").
        input(type="submit", value="Enviar")
